.padding220{
    padding-top: 180px;
}
h6.dark12 {
    color: #000000bf;
}
h2.dark12 {
    color: #000000bf;
}
p.dark12 {
    color: #000000bf;
}
.dark12 {
    color: #000000bf !important;
}
.padding30{
    padding-bottom: 30px;
}
.content{
    line-height: 8px ;
}
#buy{
    background: #f0b90b;
}
.bg-black{
    background: #141416;
}
